= render(BookingComponent.new(booking: @booking, except: :event_description))

= render partial: 'info'

= simple_form_for [@booking, @cancellation] do |builder|
  = builder.button :submit, 'Cancel now', class: 'button is-danger'