.event-list {
  margin: 0;
  padding: 0;

  >:nth-child(odd) {
    background-color: lightgray;
  }
}

.admin-event-list-item {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
  padding: 1rem 0;

  &__name {
    grid-column: 1 / 3;
    padding-left: 1rem;
  }
}

.event-booking-list-item {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
  padding: 1rem 0;

  &__user-name {
    grid-column: 1 / 3;
    padding-left: 1rem;
  }
}