.admin-layout {
  // background-color: yellow;

  &__header {
    margin-bottom: 2rem;
    border-bottom: 2px solid lightgrey;
  }

  &__footer {
    margin-top: 2rem;
    padding: 1rem 0;
    border-top: 2px solid lightgrey;
  }
}