// User styles

.admin-user-list {
  margin: 0;
  padding: 0;

  >:nth-child(odd) {
    background-color: lightgray;
  }
}

.admin-user-list-item {
  display: grid;
  gap: 1rem;
  grid-template-columns: 2fr 1fr 3fr 2fr;
  grid-template-rows: 1fr 2fr;
  padding: 1rem 0;

  &__name {
    // grid-column: 1 / 3;
    padding-left: 1rem;
  }

  &__booking-stats {
    grid-column: 1 / -1;
  }
}

.admin-user-detail {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  &__name {
    font-weight: bold;
    font-size: larger;
  }

  &__bookings {
    // border: 1px dotted blue;
    padding-top: 1rem;
    grid-column: 1 / 3;
  }

}

.admin-user-bookings-list-item {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr;

}