// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.main-header {
  margin-bottom: 1rem;
  border-bottom: 2px solid lightgrey;
}

.main-footer {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 2px solid lightgrey;

}